{% extends 'application/base.html' %}
{% block div %}

<style >
  .logoutt{
    position:relative;
    left:650px;
    font-size:18px;
  }
</style>


<div class="logoutt" >
<li class="nav-item" >
  <a class="nav-link btn btn-danger"   aria-current="page" href="/applications/logout/">Log-Out</a>
</li>
</div>

{%endblock div %}

{% block  title %}
add_plan
{%endblock title %}

{% block body %}


<div class="container" style="margin-top:90px;">
<h2 class="text-center font-weight-bold font-family-calibri ">ADD PLANS</h2>
<form method="post">
{%csrf_token %}
<label ><b>Name</b></label>
<input type="text" name="Name" class="form-control">
<label ><b>Amount</b></label>
<input type="text" name="Amount" class="form-control">
<label><b>Duration</b></label>
<input  type="text" name="Duration" class="form-control">

<br>

<input  type="submit" name="subbmit" value="SAVE" class="form-control btn btn-dark">


</form>

</div>

{% ifequal  error "no" %}
<script>
  alert("Record Saved Successfully");
</script>
{% endifequal %}


{% ifequal  error "yes" %}
<script>
  alert("Something Went Wrong, Try Again");
</script>
{% endifequal %}

{% endblock  %}
