{% extends 'application/base.html' %}
{% load static %}
{% block  title %}
Contact
{%endblock title %}
{%  block body %}

<div class="container" style="margin-top:30px;">
<h2 class="text-center font-weight-bold font-family-calibri ">Contact Form</h2>
<form method="post" >
{%csrf_token %}
<label ><b> First Name</b></label>
<input type="text" name="name" class="form-control">
<label ><b> Last Name</b></label>
<input type="text" name="last_name" class="form-control">
<label ><b>Contact No.</b></label>
<input type="text" name="contact" class="form-control">
<label ><b>Email_Id</b></label>
<input type="text" name="email" class="form-control">
<label ><b>Age</b></label>
<input type="text" name="age" class="form-control">
<label> <b>What can I help you with?</b></label>
<textarea name="describe" rows="4" cols="50" class="form-control"></textarea>
<br>
<input type="submit"  name="subbmit" value="Submit" class="form-control btn btn-success">
</form>

</div>
{% ifequal error "no" %}
<script>
  alert("Submitted Successfully");
</script>
{% endifequal %}
{%endblock  %}
