{% extends 'application/base.html' %}
{% load static %}
{% block div %}

<style >
  .logoutt{
    position:relative;
    left:650px;
    font-size:18px;
  }

</style>



<div class="logoutt" >
<li class="nav-item" >
  <a class="nav-link btn btn-secondary"   aria-current="page" href="/applications/logout/">Log-Out</a>
</li>
</div>




{%endblock div %}
{% block  title %}
view_member
{%endblock title %}
{% block head %}

{% endblock head %}

{% block body %}

<div class="container" style="margin-top:90px;">
<h2 class="text-center font-weight-bold font-family-calibri text-decoration-underline ">VIEW MEMBERS</h2>
<br><br>

<table id="example" class="table table-hover table-responsive  ">

<thead class="thead-dark">


<tr >

  <th>Name</th>
  <th>Contact</th>
  <th>Age</th>
  <th>Gender</th>
  <th>Email-Id</th>
  <th>Plan</th>
  <th>Join_Date</th>
  <th>Expiry_Date</th>
  <th>Initial_Amount</th>
    <th>Remove</th>



</tr>
</thead>

<tbody>
{% for i in mem %}
<tr>
  <td>{{i.Name}}</td>
  <td>{{i.Contact}}</td>
  <td>{{i.Age}}</td>
  <td>{{i.Gender}}</td>
  <td>{{i.Email_Id}}></td>
  <td>{{i.Plan}}</td>
  <td>{{i.Join_Date}}</td>
  <td>{{i.Expiry_Date}}</td>
  <td>{{i.Initial_Amount}}</td>


  <td ><a  class="btn btn-danger" href="http://localhost:5000/applications/delete_member?pid={{i.id}}"
     onclick="return confirm('Are you Sure?')">Delete</a></td>




</tr>

{% endfor %}

</tbody>

</table>




</div>

{% endblock body %}
